# OSX
.DS_Store

# Python
__pycache__
*.pyc
/venv*
dist
build
.coverage
*.egg-info/

# Npm
node_modules

# Settings
.env

# Sqlite
*.db

# Sample data
/uploads
/config.py
/blog
/data

# Codeclimate
codeclimate-report.log
