<!doctype html>
<html class="no-js" lang="{{ blog.language }}">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ blog.title }}</title>
    <meta name="description" content="{{ blog.tagline }}">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='minimal/img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='minimal/css/main.css') }}">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,100' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="Blog Feed" href="{{ url_for('feed_latest_posts') }}" />

</head>
<body class="{% block page_class %}{% endblock %}">
<main>
    {% block header %}
    {% endblock %}

    <div class="content-wrapper l-center">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block footer %}
    {% endblock %}
</main>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
{% if config.GA_TRACKING %}
    <script>
        var _gaq=[['_setAccount','{{ config.GA_TRACKING }}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
{% endif %}
</body>
</html>
