{% extends "base.html"%}

{% block title %}Made In Stockholm{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <article class="post page page-menu">
        <h1 class="page-menu-title text-largest">Menu</h1>

        {% if pages|length %}
        <nav class="page-menu-nav">
            <h2 class="h2 text-large">Pages</h2>
            <ul class="l-grid-2">
                {% for page in pages %}
                    {% if page.name %}
                        <li>
                            <a href="{{ url_for("minimal.post_single", slug=page.name) }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}

        {% if categories|length %}
        <nav class="page-menu-nav">
            <h2 class="h2 text-large">Categories</h2>
            <ul class="l-grid-2">
                {% for category in categories %}
                <li>
                    <a href="{{ url_for("minimal.post_list", category=category.slug) }}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}

        {% if tags|length %}
        <nav class="page-menu-nav">
            <h2 class="h2 text-large">Tags</h2>
            <ul class="l-grid-2">
                {% for tag in tags %}
                <li>
                    <a href="{{ url_for("minimal.post_list", tag=tag.slug) }}">{{ tag.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}

        {% if archive|length %}
        <nav class="page-menu-nav">
            <h2 class="h2 text-large">Date</h2>
            <ul class="l-grid-2">
                {% for month in archive %}
                <li>
                    <a href="{{ url_for("minimal.post_list", year=month.year, month=month.month) }}">{{ month.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </article>
{% endblock %}

