.user-card {
    padding-top: @margin_small;
    padding-bottom: @margin_small;
    height: 70px;
}

.user-card .user-card-avatar {
    height: 70px;
}

.user-card .user-card-avatar img {
    height: 70px;
    border-radius: 100%;
}

.user-card .user-card-info {
    margin-left: @margin_small;
    line-height: 1.3em;
}
