@color_bg: white;
@color_post_title: #000;
@color_post_separator: #666;
@color_header_bg: white;
@color_header_separator: grey;
@color_link_visited: grey;
@color_header_active_bg: black;
@color_header_active_text: white;
