// Sizes
@size_small: 320px;
@size_medium: 728px;
@size_large: 1050px;

// Media Queries
@media_medium: ~'only screen and (min-width: @{size_medium})';
@media_large: ~'only screen and (min-width: @{size_large})';

// Margins
@margin_small: 20px;
@margin_large: 40px;
